<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
    <div class="panel-heading">
    <h3 class="panel-title">Products</h3>
  </div>
    <div class="panel-body">
        <% @products.each do |product| %>
        <div class="col-md-3">
            <div class="" style="text-align:center"><%= image_tag(product.image_url, class: 'thumbnail') %></div>
            <h3 class="" style="min-height:53px"><%= product.title %></h3>
            <div class="" style="min-height:53px">
                <%= truncate(strip_tags(product.description),length: 80) %>
            </div>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <%= link_to 'Show', product, :class => 'btn btn-default' %>

                </div>
                <div class="btn-group" role="group">
                    <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-success' %>

                </div>
                <div class="btn-group" role="group">
                    <%= link_to 'Destroy', product, method: :delete,
              data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %>
                </div>
            </div>
        </div>

        <% end %>
    </div>
</div>

<%= link_to 'New product', new_product_path %>
